test
<%# image_tag("/ss.png") %>
<%# image = RTesseract.new(Rails.root.join('public', 'ss2.png'))%>
<%# RTesseract::Box.new(Rails.root.join('public', 'test.png')).words %>
<%# image.to_s %>
<% @result %>
